.banner {
    background-image: url("https://aconcept-vn.com/storage/media/86AwTQlzl0DhCSSR1TuiKFM5dn4c4xmjOTK8knhg.jpeg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: relative;
}

.banner .div-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

.infor-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.infor-user .left img{
    height: 800px;
}

.infor-user .left {
    background: url("https://aconcept-vn.com/storage/media/Q4cWrcTOaPSLHGzHQBVlUWEaEl0A3oDi2HLzabGm.jpeg");
    height: 800px;
    width: 700px;
}

.infor-user .right {
    font-size: 20px;
    padding: 30px 80px;
    background: whitesmoke;
    height: 800px;
}

.infor-user .right .full-name,
.phone-number,
.email,
.address,
.product-qt,
.text-contact {
    display: grid;
    margin-bottom: 12px;
}

.infor-user input, textarea, select, .adress select{
    border: none;
    border-bottom: 1px solid #333;
    background: whitesmoke;
    outline: none;
    padding: 12px 10px 4px 10px;
}



.infor-user textarea {
    border: 1px solid #333;
}


.infor-user .address span,
.product-qt span {
    margin-bottom: 10px;
}

.infor-user .send button {
    text-decoration: none;
    background: black;
    color: white;
    font-size: 18px;
    padding: 6px 24px;
    font-weight: bold;
    cursor: context-menu;
    border-radius: 2px;
    border: none;
}

.infor-user .send button:hover {
    transition: 0.6s linear;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color: #b33939;
}


.infor-user .send {
    text-align: center; 
    margin-top: 15px;
}

.search-adress {
    font-size: 20px;
    text-align: center;
    margin: 60px 300px;
    background: whitesmoke;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}

.search-adress .div-header {
    font-size: 24px;
    padding: 10px 0;
    background-color: gray;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.search-adress .adress {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.search-adress .adress select {
    width: 220px;
}


.map {
    text-align: center;
}

.infor-adress {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: 40px;
}

table,th {
    border-bottom: 1px solid black;
}

table:last-child {
    border: none;
}

table {
    width: 70%;
    border-collapse: collapse;
}

table tr th, td {
    text-align: left;
    padding-top: 20px;
}
