

/* underline */

/* product */

.product {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 1360px;
    margin: auto;
}


.product-view img{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    position: relative;
    height: 476px;
}

.product-infor {
    padding: 8px 26px;
    border-radius: 2px;
    text-align: center;
    color: white;
    background-color: rgba(1, 1, 1, 0.8);
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    opacity: .9;
    transition: opacity .8s linear;
}

.product-view:hover > .product-see-more {
    opacity: .9;
    transition: opacity 1s ease-in-out;    
}

.product-view:hover > .product-infor {
    opacity: 0;
}

.product-see-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    opacity: 0;
    
}

.product-view:hover > .product-see-more p {
    font-size: 20px;
    padding-top: 20px;
}

.product-view:hover > .product-see-more p a:hover {
    color: #353b48;
    text-decoration: underline;
    transition: 200ms ease;
}


.product-view:hover > .product-see-more a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.product-view:hover > .product-see-more h2 {
    font-size: 22px;
    color: white;
    padding: 6px 20px;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}



/* blog */

.blog-single-1 {
    padding: 40px;
}
.blog-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.blog-left {
    padding: 100px 60px 100px 40px;
    color: #2d3436;
    font-weight: 100;
    text-align: left;
    line-height: 27px;
}

.blog-left h1 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.blog-left h4 {
    font-size: 20px;
    font-weight: bold;
}

.readmore {
    position: relative;
    font-size: 16px;
}

.readmore i {
    position: relative;
    display: inline-blog;
}

.readmore:hover {
    color: #b33939;
}

.readmore:hover i {
    transform: translateX(10px);
    transition: .6s ease-in-out;
}

.readmore {
    text-decoration: none;
    color: #2d3436;
    font-weight: 700;
}

.blog-left p, .blog-right p {
    padding: 22px 0;
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 14px;
}



.blog-container .blog-image img{
    height: 760px;
}

.blog-container-2 {
    display: flex;
    width: 95%;
    align-items: center;
    margin: auto; 

}

/* register */

.register {
    text-align: center;
    margin-top: 40px;
}

.register .icon-email img {
    height: 34px;
    margin-bottom: 20px;
}


.register h1 {
    font-size: 28px;
    margin-bottom: 26px;
}

.register .register-email {
    font-size: 18px;
    margin-bottom: 16px;
}

.register .register-email input {
    padding: 6px 10px;
    outline: none;
}

.register .register-email button {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color: #2d3436;
    border: none;
    border-radius: 2px;
}

.register .register-email button:hover {
    background-color: #b33939;
}

.register #check-email {
    font-size: 16px;
    transition: all 1s ease-in-out;
    color: red;
}

@media  screen and (min-width: 1224px) and (max-width: 1430px){


    .product {
        width: 1180px;
    }

    .product-view img{
        height: 400px;
    }

    /* register */
    .register .icon-email img {
        height: 30px;
    }

    .register h1 {
        font-size: 24px;
    }
    
    .register .register-email {
        font-size: 16px;
        margin-bottom: 20px;
    }

  
    
}

@media screen and (max-width: 416px){


    .btn-link {
        font-size: 10px;
        padding: 5px 10px;
    }

    .next-btn, .prev-btn {
        top: 64%;
        padding: 10px 10px;
        z-index: 1;
    }

    .wrapper {
        width: 100%;
        overflow: hidden;
    }

    .slides-container {
        height: 200px;
    }

    .slide-image {
        width: 414px;
        position: absolute;
    }

    .slide-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .navigation-dots {
        margin: 4px 0;
    }

    .single-dot {
        height: 10px;
        width: 10px;
        margin-left: 2px;
    }

    .product {
        display: block;
        width: 260px;
        margin: auto;
    }

    .product-see-more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
    }
    
    
    
    .product-view img{
        width: 260px;
        height: 340px;
    }
    
    .product-infor {
        display: none;
    }

    .product-view {
        margin-bottom: 30px;
    }

    .blog-single-1 {
        padding: 20px;
    }
    .blog-container {
        display: block;
       
    }
    
    .blog-container .blog-left {
        font-size: 12px;
        width: 324px;
        margin: auto;
        padding: 50px 30px 50px 20px;
        line-height: 27px;
        height: 600px;
    }
    
    .blog-container .blog-left h1 {
        padding: 20px 0;
        font-size: 24px;
    }
    
    .blog-container .blog-left h4 {
        font-size: 20px;
    }
    
    .blog-image img, .blog-image-2 img{
        width: 100%;
        display: none;
    }

    .register {
        margin-top: 20px;
    }
    
    .register .icon-email img {
        height: 24px;
        margin-bottom: 10px;
    }
    
    
    .register h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .register .register-email {
        font-size: 14px;
    }
    
    .register .register-email input {
        padding: 3px 5px;
    }
    
    .register .register-email button {
        padding: 8px 10px;
        font-size: 10px;
    }

}






